@import "media-queries";

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .side {
    @include for-desktop {
      width: calc(50% - 70px);
    }
    @include for-phone {
      width: 100%;
    }
  }
}
.menu__part {
  &__prices {
    display: grid;
    grid-template-columns: auto 10%;
    grid-row-gap: 10px;

    span:nth-child(even) {
      text-align: right;
    }
  }
}
