@import "_menu";
@import "media-queries";
@import "variables";
@import "coffee-page";

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: $color-header;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include for-phone {
    flex-direction: column;
    align-items: center;
  }

  img {
    @include for-desktop {
      width: 150px;
      width: 150px;
    }
    @include for-phone {
      width: 100px;
      height: 100px;
    }
  }
  nav {
    margin-top: 70px;

    @include for-phone {
      margin-top: 26px;
    }
    a {
      text-decoration: none;
      color: #9e9f9f;
      font-size: 24px;
      padding: 10px;

      &:hover {
        color: #333;
      }
    }
  }
}

main {
  margin: 0 auto;
  z-index: 10;
}

.container {
  max-width: 1500px;
  @include for-phone {
    margin: 0 40px;
  }
  @include for-desktop {
    margin: 0 120px;
  }

  .first-content {
    text-transform: uppercase;
    margin-bottom: 10px;

    h1 {
      font-size: 28px;
    }
  }

  img {
    margin-top: 10px;
    width: 100%;
  }

  .second-content {
    h3 {
      text-transform: uppercase;
    }
    &__content {
      @include for-desktop {
        display: flex;
        div {
          width: 33%;
        }
      }
    }
  }
  .map-img {
    margin-bottom: -20px;
  }
}
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  margin-top: -60px;
  padding: 60px 0;

  a {
    color: #0099ff;
    text-decoration: none;
  }

  nav {
    margin-top: 20px;
    a {
      padding: 10px;
    }
  }
}
